
<% include ../partials/header %>
<div class="wrap">
        <div style="border:none;" class="about">  
        <div class="contact-form">
            <h4>Edit your Comment</h4>
        <form action="/blog/<%= blog_id %>/comment/<%= comment._id %>?_method=PUT" method="POST">
            <div>
                <span><textarea name="comment[text]" required> <%= comment.text %> </textarea></span>
            </div>
            <div>
                <span><input type="submit" value="Submit"></span>
            </div>
        </form>
        <br>
        <a href="/blog">Go Back</a>
    </div>
    </div>
    <div class="clear"></div>
    <br>
    <br>
     <br>
<% include ../partials/footer %>

