

<% include ../partials/header %>
<div class="wrap">
        <div style="border:none;" class="about">  
        <div class="contact-form">
            <h4>Post Comment</h4>
        <form action="/blog/<%=blog._id %>/comment" method="POST">
            <div>
                <span><textarea name="comment[text]"  required> </textarea></span>
            </div>
            <div>
                <span><input type="submit" value="Submit"></span>
            </div>
        </form>
        <br>
        <a href="/blog">Go Back</a>
    </div>
    </div>
    <div class="clear"></div>
    <br>
    <br>
     <br>
<% include ../partials/footer %>

