<!DOCTYPE html>
<html>
    <head>
        <title>Yola.com</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" media="all">
        <link rel="stylesheet" href="/stylesheets/app.css" media="all">
        <link rel="stylesheet" href="/stylesheets/style.css" media="all"> 
        <meta name="viewport" content="width=device-width,initial-scale=1">
    </head>
    <body>
        <div class="header">
				<div class="wrap">
				<!-- Start-logo-->
				<div class="logo">
                    <a href="/"><img src="/images/yola.PNG" title="" /></a>
				</div>				
				<!-- End-Logo-->
                <!-- Start-Header-nav-->			
				<div class="clear"> </div>				
				<!-- End-Header-nav-->
			</div>
			</div>
			<div class="header-nav1">
				<div class="wrap">
					<ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">The Movement</a></li>
                        <li><a href="/blog/new">Get Started</a></li>
						<li><a href="contact.html">Contact</a></li>
					</ul>				
				<div class="search-bar">
					<ul>
                        <% if(!currentUser){ %>
                            <li><a href="/login">Login</a></li>
                            <li><a href="/register">Sign Up</a></li>
                        <% } else { %>
                            <li><a href="#">Signed in as:  <%= currentUser.username %></a></li>
                            <li><a href="/logout">Logout</a></li>
                        <% } %>
					</ul>
				</div>
				</div>				
			<!-- End-Header-->
			<div class="clear"> </div>
			<!-- content-gallery-->
			</div>

        <div class="container">
            <% if(error && error.length > 0){ %>
                <div class="alert alert-danger" role="alert">
                    <%= error %>
                </div>
            <% } %>
            <% if(success && success.length > 0){ %>
                <div class="alert alert-success" role="alert">
                    <%= success %>
                </div>
            <% } %>
        </div>