
<% include ../partials/header %>

<div class="wrap">
        <div style="border:none;" class="about">  
        <div class="contact-form">
            <h4>Edit Post</h4>
        <form action="/blog/<%=blog._id%>?_method=PUT" method="POST" enctype="multipart/form-data">
            <div>
                <span><input type="text"   name="title"   value="<%= blog.title %>" required></span>
            </div>
            <div>
                <span><input type="text"  name="image"  ></span>
            </div>
            <div>
                <span><textarea name="content"  placeholder="content" required> <%= blog.content%> </textarea></span>
            </div>
            <div>
                <span><input type="submit" value="Update"></span>
            </div>
        </form>
        <br>
        <a href="/blog">Go Back</a>
    </div>
    </div>
    <div class="clear"></div>
    <br>
    <br>
    <br>
<% include ../partials/footer %>

