 <% include ../partials/header%>

<div class="wrap">
    <div style="border:none;" class="about">  
    <div class="contact-form">
        <h4>Make a New Post</h4>
    <form action="/blog" method="POST" enctype="multipart/form-data">
        <div>
            <span><input type="text"  value="" name="title"  placeholder="Title" required/></span>
        </div>
        <div>
            <span><input type="file" value="" name="image" placeholder="Upload Image" /></span>
        </div>
        <div>
            <span><textarea name="content" placeholder="content" required> </textarea></span>
        </div>
        <div>
            <span><input type="submit" value="Submit"></span>
        </div>
    </form>
    <br>
    <a href="/blog">Go Back</a>
</div>
</div>
<div class="clear"></div>
<br>
<br>
 <br>
<% include ../partials/footer %>